{% extends "user_generic.html" %}
{% load django_bootstrap5 %}
{% block content %}

<div class="container">
    <h2>Set a New Password</h2>
    <p>You must set a new password before continuing.</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        <div class="text-center">
            {% bootstrap_button button_type="submit" content="Submit" %}
            {% bootstrap_button button_type="reset" content="Cancel" %}
        </div>
    </form>
</div>
{% endblock %}
